.homeWrapper {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  .homeContent {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-gap: 100px;
    @media only screen and (max-width: 800px) {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
}
